<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Next Level Math Tutor</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="/static/index.js" defer></script>
</head>
<body>
    <h1>Next Level Math Tutor</h1>
    <div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class="flashes">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    </div>
    <button type="button">Click to log out <a href="/logout">Log Out</a></button>
    <div id="chat-container"></div>
    <form id="chat-form">
        <input type="text" id="message" name="message" required placeholder="Type your message...">
        <button type="submit">Send</button>
        <button type="button" id="clear-history">Clear History</button>

    </form>  

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');
    </style>
      
</body>
</html>